---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events
    body:
      encoding: UTF-8
      string: '{"summary":"Test Activity","description":"Test Description","start":{"dateTime":"2025-12-25T12:00:00-08:00","timeZone":"America/Los_Angeles"},"end":{"dateTime":"2025-12-25T13:00:00-08:00","timeZone":"America/Los_Angeles"}}'
    headers:
      Authorization:
      - Bearer test_access_token_12345
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "calendar#event",
          "etag": "\"test_created_event_etag\"",
          "id": "test_created_event_1",
          "status": "confirmed",
          "htmlLink": "https://www.google.com/calendar/event?eid=test_created",
          "created": "2025-12-25T00:00:00.000Z",
          "updated": "2025-12-25T00:00:00.000Z",
          "summary": "Test Activity",
          "description": "Test Description",
          "creator": {
            "email": "test@example.com"
          },
          "organizer": {
            "email": "test@example.com",
            "self": true
          },
          "start": {
            "dateTime": "2025-12-25T12:00:00-08:00",
            "timeZone": "America/Los_Angeles"
          },
          "end": {
            "dateTime": "2025-12-25T13:00:00-08:00",
            "timeZone": "America/Los_Angeles"
          },
          "iCalUID": "test_created_event_1@google.com",
          "sequence": 0,
          "reminders": {
            "useDefault": true
          }
        }
  recorded_at: Wed, 25 Dec 2025 00:00:00 GMT
recorded_with: VCR 6.3.1
