---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/users/me/calendarList
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_access_token_12345
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "calendar#calendarList",
          "etag": "\"test_etag\"",
          "items": [
            {
              "kind": "calendar#calendarListEntry",
              "etag": "\"test_calendar_etag\"",
              "id": "primary",
              "summary": "Test User",
              "description": "Primary Calendar",
              "timeZone": "America/Los_Angeles",
              "colorId": "1",
              "backgroundColor": "#9fe1e7",
              "foregroundColor": "#000000",
              "selected": true,
              "accessRole": "owner",
              "defaultReminders": []
            },
            {
              "kind": "calendar#calendarListEntry",
              "etag": "\"test_calendar_etag_2\"",
              "id": "test_calendar_2@group.calendar.google.com",
              "summary": "Work Calendar",
              "description": "Work events",
              "timeZone": "America/Los_Angeles",
              "colorId": "2",
              "backgroundColor": "#b99aff",
              "foregroundColor": "#000000",
              "selected": true,
              "accessRole": "owner",
              "defaultReminders": []
            }
          ]
        }
  recorded_at: Wed, 25 Dec 2025 00:00:00 GMT
recorded_with: VCR 6.3.1
