---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events?orderBy=startTime&singleEvents=true&timeMax=2026-01-01T00:00:00-08:00&timeMin=2025-12-25T00:00:00-08:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_access_token_12345
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "calendar#events",
          "etag": "\"test_etag\"",
          "summary": "Test Calendar",
          "updated": "2025-12-25T00:00:00.000Z",
          "timeZone": "America/Los_Angeles",
          "accessRole": "owner",
          "defaultReminders": [],
          "items": [
            {
              "kind": "calendar#event",
              "etag": "\"test_event_etag\"",
              "id": "test_event_1",
              "status": "confirmed",
              "htmlLink": "https://www.google.com/calendar/event?eid=test",
              "created": "2025-12-20T00:00:00.000Z",
              "updated": "2025-12-20T00:00:00.000Z",
              "summary": "Test Event",
              "description": "This is a test event",
              "creator": {
                "email": "test@example.com"
              },
              "organizer": {
                "email": "test@example.com",
                "self": true
              },
              "start": {
                "dateTime": "2025-12-26T14:00:00-08:00",
                "timeZone": "America/Los_Angeles"
              },
              "end": {
                "dateTime": "2025-12-26T15:00:00-08:00",
                "timeZone": "America/Los_Angeles"
              },
              "iCalUID": "test_event_1@google.com",
              "sequence": 0,
              "reminders": {
                "useDefault": true
              }
            }
          ]
        }
  recorded_at: Wed, 25 Dec 2025 00:00:00 GMT
recorded_with: VCR 6.3.1
